.footer {
    padding: 40px 0 25px;
    border-top: 1px solid $color-secondary;


    h3 {
        margin-bottom: 25px;

        span {
            position: relative;
            display: inline-block;
            transition: $tr-medium;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 100%;
                background: $xanthous;
                z-index: -1;
                opacity: 0;
                height: 100%;
                transition: $tr-medium;
            }
        }

        &:target span {
            transform: scale(1.1);

            &::before {
                opacity: 0.4;
                height: 6px;
            }
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &_link {
        svg {
            max-width: 19px;
            margin-right: 10px;
        }
    }

    &_warning {
        font-weight: 300;
        font-size: 12px;
        margin-top: 20px;

        p:last-child {
            text-transform: uppercase;
            padding-top: 4px;
        }
    }

    &_link,
    &_warning {
        color: $color-footer;
    }
}