// breakpoints
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;

//font-family
$ff-default: 'Montserrat', sans-serif;
$ff-logo: 'Lobster', cursive;

// colors
$color-white: #fff;
$color-primary:  #272b30;
$color-secondary: #4f3a2d;
$color-desc: #4e5d65;
$color-hover-link: #946831;
$color-footer: #3b424a;
$color-body-bg: $color-white;
$color-hero-bg: #6f7b7f;
$color-footer-bg: #eeedee;
$granular-limestone: #e3e0db;
$xanthous: #eeb22a;

// transition
$tr-default: .10s ease-out;
$tr-medium: 0.15s ease-out;
$tr-slow: .25s ease-out;