// breakpoints
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;

//font-family
$ff-default: 'Montserrat', sans-serif;
$ff-logo: 'Lobster', cursive;

// colors
$default: #200f10;
$default-red: #a12742;
$white: #fff;
$arsenic: #3b444b;

// transition
$tr-default: .3s ease-out;