@font-face {
    font-family: 'Lobster';
    src: url('/src/assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}
// Lobster-Regular.ttf