.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up($bp-xs) {
        max-width: 540px;
    }

    @include media-breakpoint-up($bp-sm) {
        max-width: 720px;
    }

    @include media-breakpoint-up($bp-md) {
        max-width: 960px;
    }

    @include media-breakpoint-up($bp-lg) {
        max-width: 1140px;
    }

    @include media-breakpoint-up($bp-xl) {
        max-width: 1320px;
    }
}

.container-half {
    width: 100%;

    @include media-breakpoint-up($bp-md) {
        width: 50%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-3 { 
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include media-breakpoint-up($bp-md) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;  
}

.justify-content-between {
    justify-content: space-between;  
}

.justify-content-around {
    justify-content: space-around;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 100%;

    @include media-breakpoint-up($bp-md) {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}