.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.ta-center {
    @include media-breakpoint-up($bp-md) {
        text-align: center;
    }
}

