.footer {
    padding: 40px 0 25px;
    border-top: 1px solid $color-secondary;


    h3 {
        margin-bottom: 25px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &_link {
        svg {
            width: 16px;
            margin-right: 10px;
        }
    }

    &_alarm {
        font-weight: 300;
        font-size: 12px;
        margin-top: 20px;
    }

    &_link,
    &_alarm {
        color: $color-footer;
    }
}