.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 3px solid $default-red;

    &_logo {
        font-size: 30px;
        letter-spacing: 0.5px;
        font-family: $ff-logo;
    }

    &_link {
        margin-left: 15px;
        color: transparent;
        line-height: 0;
        font-size: 0;
        transition: $tr-default;

        svg {
            height: 100%;
            width: 18px;

            path {
                fill: $default;
                opacity: 0.9;
            }
        }

        &:hover svg path {
            fill: $arsenic;
            opacity: 1;
        }
    }
}