.header {
    padding: 10px 0;
    border-bottom: 2px solid $color-secondary;
    z-index: 100;

    &_logo {
        font-size: 30px;
        letter-spacing: 0.5px;
        font-family: $ff-logo;
    }

    &_link {
        margin-left: 18px;
        line-height: 0;
        font-size: 0;

        svg {
            max-width: 20px;
        }
    }
}