.hero {
    padding: 96px 0 58px;
    min-height: 50vh;
    height: 100%;
    color: $color-white;

    &::before {
        background: $color-hero-bg;
        opacity: 0.65;
    }

    &_title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px;

        @include media-breakpoint-up($bp-md) {
            font-size: 48px;
            line-height: 58px;
            
            
        }
    }

    &_description {
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;

        @include media-breakpoint-up($bp-md) {
            font-size: 22px;
            line-height: 30px;
        }

    }
}