.value {
    a {
        color: $color-hover-link;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        padding: 15px 20px;

        p {
            padding-top: 10px;
        }

        @include media-breakpoint-up($bp-md) {
            padding: 20px 25px;
        }
    }

    &_steps {
        list-style: none;
        counter-reset: my-awesome-counter;

        width: 100%;

        @include media-breakpoint-up($bp-md) {
            padding-top: 14px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    &_step {
        
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        background: rgba(227, 224, 219, 0.5);
        background: linear-gradient(133deg, rgba(227, 224, 219, 0.5) 0%, rgba(255, 255, 255, 0) 100%);



        h3 {
            counter-increment: my-awesome-counter;
            display: inline-block;

            &::before {
                content: counter(my-awesome-counter) ". ";
                font-weight: 500;
            }
        }
    }

    &_info {
        p:first-child {
            padding: 0;
        }
    }
}