@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import '~normalize.css';
@import './vendors/swiper';

@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/functions';

@import './base/grid';
@import './base/position';
@import './base/typography';

@import './components/buttons';

@import './layout/header';
@import './layout/hero';
@import './layout/brands';
@import './layout/about';
@import './layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-default;
  font-size: 16px;
  line-height: 1.2;
  color: $color-primary;
}

main {
  padding: 58px 0 201px;
  padding: 58px 0 264px;
  height: 100%;
  min-height: 100vh;
}

section {
  padding: 40px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: $tr-default;

  &:hover {
    color: $color-hover-link;
  }
}

svg {
  height: 100%;
  width: 100%;

  path {
    fill: currentColor;
  }
}

.section {
  &_title {
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 38px;

    @include media-breakpoint-up($bp-md) {
      padding-bottom: 25px;
      font-size: 39px;
      line-height: 51px;
    }
  }

  &_description {
    font-size: 16px;
    line-height: 25px;
    color: $color-desc;
    padding-bottom: 15px;

    @include media-breakpoint-up($bp-md) {
      font-size: 19px;
      line-height: 28px;
    }
  }
}

.bg-position-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background: $color-body-bg;
}

.bg-white-darker {
  background: $color-footer-bg;
}