@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '~normalize.css';
// TODO: remove bootstrap
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~slick-carousel/slick/slick.css';

@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/functions';

@import './base/typography';

@import './components/buttons';

@import './layout/header';
@import './layout/hero';
@import './layout/slider';
@import './layout/about';
@import './layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $default;
}

a {
  text-decoration: none;
  color: $default;
}

ul {
  list-style: none;
}

main {
  padding-top: 46px;
}

.bg-white {
  background: $white;
}