@import './vendors/normalize.css';
@import './vendors/swiper';

@import './utilities/variables';
@import './utilities/mixins';

@import './base/grid';
@import './base/position';

@import './components/buttons';

@import './layout/header';
@import './layout/hero';
@import './layout/brands';
@import './layout/value';
@import './layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $ff-default;
  font-size: 16px;
  color: $color-primary;
}

main {
  padding-top: 66px;
  padding-bottom: 437px;
  height: 100%;
  min-height: 100vh;

  @include media-breakpoint-up($bp-xs) {
    padding-bottom: 383px;
  }
}

section {
  padding: 40px 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: $tr-default;

  &:hover {
    color: $color-hover-link;
  }
}

svg {
  height: 100%;
  width: 100%;
  transition: $tr-medium;

  &:not(:hover) {
    fill: currentColor;
  }
}

.section {
  &_title {
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 38px;

    @include media-breakpoint-up($bp-md) {
      padding-bottom: 25px;
      font-size: 39px;
      line-height: 51px;
    }
  }

  &_description {
    font-size: 16px;
    line-height: 25px;
    color: $color-desc;
    padding-bottom: 20px;

    @include media-breakpoint-up($bp-md) {
      font-size: 19px;
      line-height: 28px;
    }
  }
}

.bg-position-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background: $color-body-bg;
}

.bg-white-darker {
  background: $color-footer-bg;
}

.ta-center {
  @include media-breakpoint-up($bp-md) {
      text-align: center;
  }
}